.App{
    margin-left: 261px;
    margin-top: 171px;
}
.main__text{
    font-size: 24px;
    margin-bottom: 20px;
}
.main__blockinput{
    transition: 0.6s all;
}
@media (max-width: 800px) {
    .App{
        margin-left: 12px;
        margin-top: 12px;
    }
}