.main__input{
    border: none;
    width: 430px;
    padding: 32px 16px;
}
.main__button{
    background: #F8D231;
    width: 96px;
    height: 96px;
    border: none;
    cursor: pointer;
}
.main__form{
    display: flex;
}
.main__input::placeholder{
    font-size: 24px;
    font-weight: 300;
    color: #A4A3A4;
}
.main__sos{
    font-size: 24px;
    margin-bottom: 20px;
    color: #1B191C;
    transition: 0.2s all;
    cursor: pointer;
    width: 100px;
}
.main_error{
    margin-top: 8px;
    color: #C6A827;
}
.main__sosa{
    font-size: 12px;
    color: #C6A827;
    font-weight: 300;
    margin-top: 8px;
}
.err{
    border: 1px solid #C6A827;
}
.main__video{
    background: #CFD3D6;
    width: 610px;
    height: 198px;
}
.main__blockError{
    display: flex;
    width: 518px;
    justify-content: space-between;
    position: fixed;
    top: 8%;
    left:50%;
    border: 0.5px solid #E6E6E6;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
    transform:translate(-50%, -50%);
    padding: 20px;
    margin-top: 8px;
}
.main__blockErrorTop{
    display: flex;
}
.main__textBlock{
    margin-left: 12px;
}
.main__close{
    cursor: pointer;
}
@media (max-width: 500px) {
    .main__video{
        width: 301px;
    }
    .main__blockError{
        width: 210px;
    }
}